{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Video Game Data{% endblock %}

{% block content %}
   <h1>About the Video Game Dataset</h1>
   <p>The data used as part of this project is from the <a href="https://think.cs.vt.edu/corgis/json/index.html">CORGIS Datasets Project</a>. 
     For this webapp I am using the Video Games dataset from that website, which can be found <a href="https://think.cs.vt.edu/corgis/json/video_games/">here</a>.</p>
   <p>Included in this dataset is information about games released from 2004 until 2008. That information includes the name, publisher, rating, sales and, if applicable, 
     average playtime of each individual game. Playtime is listed as hours for the category which is chosen (average playtime, average completion playtime, average main story playtime, etc.)</p>
   <p>Two things to note: First, if the playtime of any game is 0 that section of data was not polled for (i.e. the "polled" variable for that section also equals zero). 
     Second, sales are recorded in millions of dollars, so they will appear as decimal numbers ("$0.41 million" or "$1.5 million" instead of "$140,000").</p>
{% endblock %}
