{% extends "layout.html" %}

{% set active_page = "popGame" %}

{% block title %}Popular Games{% endblock %}

{% block content %}
   <h1>Popular games of each year</h1>
   <p>Select a year</p>
   <form action="/popGame">
    <select name="games">
     {{options}}
    </select>
    <br><br>
    <input type="submit">
  </form>
   <p>The most popular game based on metacritic rating:</p>
   <br>
   <p>{{gameData}}</p>
   <br>
   <p>The most popular game based on user play time:</p>
   <br>
   <p>{{gamePlay}}</p>
{% endblock %}
